* {
    font: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 3fr;
    margin: 0;
    min-height: 100vh;
}

#deleteProject {
    background-color: #ff000037;
    border-color: #00000010;
}

#deleteProject:hover {
    background-color: #ff00009e;
}

#detailItems {
    align-content: start;
    align-items: start;
    display: grid;
    gap: 2vh;
    justify-content: stretch;
    padding: 5vh 3vw;
}

#detailItems h2 {
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-size: large;
    font-weight: bold;
    justify-self: center;
    width: 70%;
}

#detailItems h2 * {
    font-size: 1rem;
    font-weight: normal;
}

#detailItems textarea {
    height: 20vh;
    resize: none;
    width: 40vw;
}

.divButton {
    align-content: center;
    align-items: center;
    background-color: #00ff3337;
    border: 1px solid #00000010;
    border-radius: 0.5rem;
    display: flex;
    gap: 4px;
    justify-self: center;
    padding: 0.25rem 0.75rem 0.25rem 0.25rem;
}

.divButton:hover {
    background-color: #00ff339e;
    border-color: #00000000;
}

.divButton > img {
    height: 1.5rem;
    width: auto;
}

h1 {
    font-size: larger;
    font-weight: bold;
}

h1,
h3 {
    margin: 0;
    text-align: center;
}

#highLevelItems {
    background-color: #d9deda;
}

#highLevelItems * {
    align-items: center;
}

#highLevelItems img {
    height: 1.5rem;
    width: auto;
}

#highLevelItems > div {
    display: grid;
    gap: 1vh;
    margin: 3vh 2vw;
}

#highLevelItems > div:first-child > div {
    align-content: center;
    align-items: center;
    border-radius: 6px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 6px;
    padding: 4px;
}

#highLevelItems > div:first-child > div:hover {
    background-color: #00000010;
}

#homeButton {
    justify-self: start;
}

img + span {
    margin-top: .25rem;
}

label {
    display: grid;
    font-weight: bold;
    justify-content: center;
    justify-items: center;
}

label > * {
    appearance: none;
    border: none;
    border: 1px solid #00000057;
    border-radius: 1vmin;
    font-weight: normal;
    padding: 1vmin;
}

label > *:focus-visible {
    appearance: none;
    border-color: blue;
    outline: none;
}

#listOfProjects > div {
    border-radius: 4px;
    display: flex;
}

#listOfProjects > div > img {
    flex-shrink: 0;
}

#listOfProjects > div:hover {
    background-color: #00000010;
}

.listOfTasks {
    background-color: #00000010;
    border-radius: 1vmin;
    column-gap: 0;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-self: center;
    padding: 1vh 1vw;
    row-gap: .25rem;
    width: max-content;
}

.listOfTasks > .taskRow {
    border-top: 1px solid #00000031;
    padding-top: .25rem;
}

.listOfTasks > .taskRow:first-child,
.listOfTasks > .taskRow:nth-child(2) {
    border-top: 1px solid #00000000;
    padding-top: 0;
}

.listOfTasks * {
    align-content: center;
    align-items: center;
    font-weight: normal;
}

#newTaskDiv {
    background-color: #00000010;
    border-radius: 2vmin;
    display: grid;
    gap: 2vh;
    justify-self: center;
    padding: 1.5vmin;
    width: max-content;
}

#newTaskDiv h2 {
    justify-content: center;
}

#projectMenu > h2 {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 0 auto;
}

span {
    max-width: 100%;
}

#spreadOutItems {
    display: flex;
    justify-content: space-between;
}

#spreadOutItems > * {
    align-content: center;
    align-items: center;
    border: 1px solid #ffffff00;
    border-radius: 0.5rem;
    display: flex;
    gap: 4px;
    height: 1.5rem;
    padding: 0.25rem 0.75rem 0.25rem 0.25rem;
    width: auto;
}

#spreadOutItems img {
    aspect-ratio: 1 / 1;
    height: 1.25rem;
    width: auto;
}

#taskListCompleted {
    color: #0000009f;
    text-decoration: line-through;
}

.taskRow {
    display: flex;
}

.taskRow img {
    aspect-ratio: 1 / 1;
    height: 1.25rem;
    width: auto;
}

.validationFailed {
    appearance: none;
    background-color: #ff000044;
    border-color: red;
    outline: none;
}

.validationFailed::placeholder,
.validationFailed::-webkit-input-placeholder,
.validationFailed::-moz-placeholder {
    text-align: center;
    justify-content: center;
    justify-items: center;
}